.container{
    width: 1000px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.control{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buttons{
    display: grid;
    grid-template-columns: 45px 45px;
    grid-template-rows: 45px 45px 45px;
    gap: 20px 20px;
}

.inline{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    
}

.switch {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}
.switch:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.switch:active {
	position:relative;
	top:1px;
}

.editor{
    width: 400px;
    height: 600px;
    border: 2px solid black;
    position: relative;
}

canvas{
    position: absolute;
}

#image-layer{
    z-index: 1;
}

#draw-layer{
    z-index: 2;
}

#scale-layer{
    z-index: 3;
}

button > span, button > img {
    vertical-align: middle;
}

hr{
    width: 100px;
}

#chartCon{
    max-width: 1200px;
    max-height: 400px;
}

#btnCon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#results {
    width: 300px;
    height: 300px;
    overflow: auto;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#results th div { position: absolute; margin-top: -20px; }
#results table tr:nth-child(even) { background: rgb(230, 243, 158); }

